KERNEL_ARCH_CFLAGS=-mcpu=cortex-a9 -mfloat-abi=hard -mfpu=vfpv3-d16
KERNEL_ARCH_CPPFLAGS=-Iarch/armv7/include -Idrivers/pl011/include
KERNEL_ARCH_CXXFLAGS=
KERNEL_ARCH_LDFLAGS=-Wl,--build-id=none
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/init.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/arch.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/board.o \
$(ARCHDIR)/debug.o \
$(ARCHDIR)/timer.o \
drivers/pl011/uart.o \
